<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nicholastmosher.easycom">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_easycom"
        android:label="@string/app_name"
        android:theme="@style/MyTheme">

        <activity
            android:name="com.nicholastmosher.easycom.ActivityMain">

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <activity
            android:name="com.nicholastmosher.easycom.ActivityConnection"
            android:parentActivityName="com.nicholastmosher.easycom.ActivityMain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nicholastmosher.easycom.ActivityMain"/>
        </activity>

        <activity
            android:name="com.nicholastmosher.easycom.ActivityTerminal"
            android:parentActivityName="com.nicholastmosher.easycom.ActivityMain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nicholastmosher.easycom.ActivityMain"/>
        </activity>

        <activity
            android:name="com.nicholastmosher.easycom.ActivityCommand"
            android:parentActivityName="com.nicholastmosher.easycom.ActivityMain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nicholastmosher.easycom.ActivityMain"/>
        </activity>

        <activity
            android:name="com.nicholastmosher.easycom.ActivityControl"
            android:parentActivityName="com.nicholastmosher.easycom.ActivityMain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nicholastmosher.easycom.ActivityMain"/>
        </activity>

        <activity
            android:name="com.nicholastmosher.easycom.ActivitySettings"
            android:parentActivityName="com.nicholastmosher.easycom.ActivityMain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nicholastmosher.easycom.ActivityMain"/>
        </activity>

        <activity
            android:name="com.nicholastmosher.easycom.ActivityConnectionNew"
            android:parentActivityName="com.nicholastmosher.easycom.ActivityConnection">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nicholastmosher.easycom.ActivityConnection"/>
        </activity>

        <service
            android:name="com.nicholastmosher.easycom.data.connection.ConnectionService"
            android:label="Manage Bluetooth Connections"/>

    </application>
</manifest>
