<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tec_hub.tecuniversalcomm">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_tec_comm"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".DiscoveryActivity"
            android:label="Discover New Devices"/>

        <activity
            android:name=".TerminalActivity"
            android:label="Send Data Over Connections"/>

        <activity
            android:name=".DeviceActivity"
            android:label="Manage Device Connections"/>

        <activity
            android:name=".DriveKudosActivity"
            android:label="Launch Kudos Controls"
            android:screenOrientation="portrait"/>

        <service
            android:name=".data.connection.BluetoothConnectionService"
            android:label="Manage Bluetooth Connections"/>

    </application>
</manifest>
